* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "plain light";
}

html,
body {
  height: 100%;
  width: 100%;
}

#cursor{
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: transparent;
  position: fixed;
  z-index: 990;
  border: 1px solid #fff;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #030303;
  padding: 25vh 10vw;
}

.line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
}

#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

#line1-part1 h5,
#line1-part1 h6 {
  font-size: 4vw;
  font-weight: 100;
  font-family: "silk serif";
}

#line1-part1 h5 {
  width: 100px;
  text-align: right;
}

.line h1 {
  font-size: 6.5vw;
  text-transform: uppercase;
  font-weight: 900;
}

.line h2 {
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes loaderAnime {
  0% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }

  48% {
    font-family: "plain light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }

  50% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 1;
  }

  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 0;
  }
}

#page1{
  height: 100vh;
  width: 100%;
  background-color: #151515;
}

#page1 #nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5vh 8vw;
}

#navpart2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw
}

#navpart2 h4{
  font-weight: 400;
  font-size: 0.9vw;
}

.hero{
  width: 70%;
  margin-left: 30%;
  overflow: hidden;
  height: fit-content;
  position: relative;
  z-index: 99;
}

.hero:nth-child(2){
  margin-top: 7vw;
}

.hero h1, .hero h2, .hero h3{
  font-size: 6vw;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 6vw;
}

#hero3{
  display: flex;
}

#hero3 h2:hover{
  text-decoration: underline;
  -webkit-text-stroke: 1px #fff;
  font-weight: 500;
  color: transparent;
}